.hero {
    @include breakpoint-down(medium) {
        background-image: url("/images/hero.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        h3 {
            margin-bottom: 80%;
        }

        button {
            margin-bottom: 25%;
        }
    }

    &__img {
        @include breakpoint-up(large) {
            flex: 5;
            background-image: url("/images/hero.jpg");
            position: relative;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            min-height: calc(100vh - 4rem);
            width: 60%;
        }
    }

    &__text {
        flex: 2;
        text-align: center;
    }

    @include breakpoint-up(large){
        display: flex;
        flex: 2;
        justify-content: space-between;
        align-items: center;
    }
}