:root {
    --elevated: #FFFFFF;
}

[data-theme="dark"] {
    --elevated: #202020;
    --on-elevated: #FFFFFF;
    --text-color: #FFFFFF;
    --background: #121212;
    --primary: #2F4092;
    --on-primary: #FFFFFF;
}

// Font Sizes
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.25rem;
$font-xlg: 3.25rem;